/*parte secuntaria */
body{
	position: relative;
	text-align: center;
	background-image: url(img/back_ground.png);
}
h1{
	text-align: left;
	color: aqua;
}
.texto_centrado{
	display: flex;
	justify-content: left;
	
	

}
.rank{
	width: 60%;

left: 10%;
	position:relative;
	justify-content: left;
}
/* estilo de las 5 imagenes */
#parques_interfaz{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	width: 70%;
	
	margin: 2%;
	grid-gap: 30px;
}
#parques_interfaz img{
 width: 100% all;
 transition: 300ms;
 position: relative;

	height: 500px;
	border-radius: 20px;
	object-fit: cover;
}
#parques_interfaz img:hover{
	transform: scale(1.15);
}

/* parte de sceach */
.buscador {
	position: absolute;
	top: 15%;
	left: 88%;
	transform: translate(-50%,-50%);
	padding: 10px;
}
input {
	outline: none;
	box-sizing: border-box;
	width: 0px;
	padding: 0 10px;
	color: #000;
	border-radius: 20px;
	font-size: 15px;
	transition: all .7s ease;
}

.btn {
	right: 0px;
	top: 0px;
	width: 80px;
	height: 150px;
}
.container:hover input {
	width: 250px;
}
/*parte de rank */
.menu-secundario{
	position: absolute;
	top: 20%;
	left: 88%;
	transform: translate(-50%,-50%);
	padding: 10px;

}
.menu-secundario{
	width: 20%;
	margin-top: 60px; 
	background-color: coral;
} 

.menu-secundario a {
	display: block;
	text-align: center;
	color: rgb(255, 255, 255); 
	margin-bottom: 20px;	 	
}